body {
  color: #ffffff;
  background-color: #141414;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.pad {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  width: 50px;
  height: 50px;
  color: #092366;
}

.mainBox {
  width: 40%;
  min-width: 800px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  background-color: #092366;
}

.introBox {
  width: 90%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.introWords {
  width: 60%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #061641;
}

.imgBox {
  height: 90%;
  margin: auto;
  transform: rotate(3deg);
}

.aboutBox {
  width: 90%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #061641;
}

.learnBox {
  width: 90%;
  height: 260px;
  display: flex;
  justify-content: center;
  aliagn-items: center;
  background-color: #061641;
}
