body {
  color: #ffffff;
  background-color: #141414;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padBox{
  width: 90%;
  height: 90%;
}

.mainBox {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #092366;
}

.introBox {
  width: 90%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.introWords {
  width: 60%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #061641;
}

.imgBox {
  height: 90%;
  margin: auto;
  transform: rotate(3deg);
}
